<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do List</title>

    {% load static %}

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="{% static 'js/jquery/jquery-2.2.3.min.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap-datepicker.js' %}"></script>

    <!-- Alertify -->
    <script src="{% static 'js/alertify/alertify.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/alertify/alertify.min.css' %}">


    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'mytodolist/css/style.css' %}">
    <!-- Custom js -->
    <script src="{% static 'mytodolist/todolist/js/list.js' %}"></script>

</head>

<body class="">

    <div class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <label>Logged as {{user | title}}</label><br>
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <label class="title">My to-do list</label>
                <div id="tasks-cointainer">
                    
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn-mytodo" id="btn-create" data-toggle="modal" data-target="#create-edit-Modal">Create a new to-do item</button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>

<!-- Modal -->
<div id="create-edit-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-inline has-feedback row">
                    <label class="col-md-3 col-xs-3 label-mytodo" >Title</label>
                    <input type="text" class="col-md-9  form-control " id="task-label">
                </div>
                <div class="form-group form-inline has-feedback row">
                    <label class="col-md-3 label-mytodo">Due Date</label>
                    <input type="text" class="col-md-8 form-control " id="due_date">
                    <i class="fa fa-calendar fa-2x col-md-1"></i>
                </div>
                <div class="form-group form-inline has-feedback row">
                    <label class="col-md-3 label-mytodo">Description</label>
                    <textarea class="col-md-9 form-control" id="description"></textarea>
                </div>
                <div class="form-group form-inline has-feedback row">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="checkbox" id="done">Done
                    </div>
                </div>
                <input id="id-task" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-mytodo" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn-mytodo" id="btnCreateTask">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-Modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure you want to delete this task?</h4>
            </div>
            <div class="modal-body">
                <input id="id-delete-task" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-mytodo" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn-mytodo" id="btnDeleteTask">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var url_ws_create_edit_task = "{% url 'ws_create_edit_task' %}";
    var url_ws_load_tasks = "{% url 'ws_load_tasks' %}";
    var url_ws_delete_task = "{% url 'ws_delete_task' %}"
</script>
</html>


