<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log In</title>

    {% load static %}

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="{% static 'js/jquery/jquery-2.2.3.min.js' %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'mytodolist/login/css/login.css' %}">

    <link rel="stylesheet" href="{% static 'mytodolist/css/style.css' %}">



</head>

<body class="">

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
                <label class="title">My to-do list</label>
                <form action="" method="post">
                    {% csrf_token %}

                    <div class="form-group form-inline has-feedback row">
                        <label class="col-md-4 label-mytodo">Username</label>
                        <input type="text" class="form-control col-md-8" placeholder="Nombre de usuario" name="username">
                    </div>
                    <div class="form-group form-inline has-feedback row">
                        <label class="col-md-4 label-mytodo">Password</label>
                        <input type="password" class="form-control col-md-8" placeholder="Contraseña" name="password">
                    </div>
                    <div class="row">
                        <div id="login-error" class="col-md-12">
                            {{form.error}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn-mytodo">Log me in</button>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</body>
</html>