.title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 72px;
}

.btn-mytodo{
	box-shadow: 10px 10px 0px #000;
	font-size: 23px;
}

.label-mytodo{
	font-size: 23px;
}

.modal-title{
	font-size: 32px;
}
